<!DOCTYPE HTML>
<html>
<head>
	<title>PinnerSpace - Board Settings</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	<script src="../scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../scripts/jquery.tools.min.js" type="text/javascript"></script>
	<script src="../scripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
	<style>
	th {
		text-align: center;
	}
	#inviteUsersBox {
    	display:none;
    	width:400px;
    	border:8px solid #666;
    	/* for modern browsers use semi-transparent color on the border. nice! */
    	border:8px solid rgba(82, 82, 82, 0.698);
    	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
    	-moz-border-radius:5px;
   		-webkit-border-radius:5px;
   		position: fixed
	}

  	#inviteUsersBox div {
    	border:1px solid #3B5998;
    	background-color:#ffffff;
  	}

  	#btnPrivate, #btnPublic, #successInvite, #failInvite {
  		display: none;
  	}
  	#successInvite {
  		color:green;
  	}
  	#failInvite {
  		color:red;
  	}
	</style>
	<script type="text/javascript">

	function init() {
		$("#inviteUsersBox").overlay({
			mask: {
				color: '#fff',
				loadSpeed: 200,
				opacity: 0.5
			},
			closeOnClick: false,
		});
		if ("{{ board.isPublic }}" == "True") {
			document.getElementById("btnPublic").style.display = "inline-block";
			document.getElementById("btnPrivate").style.display = "none";
		} else {
			document.getElementById("btnPublic").style.display = "none";
			document.getElementById("btnPrivate").style.display = "inline-block";
		}
	}

	function inviteBox(e) {
		$("#inviteUsersBox").overlay().load();
	}

	function inviteUser() {
		document.getElementById("successInvite").style.display = "none";
		document.getElementById("failInvite").style.display = "none";
		var invitee = $('#invitee').val();
		$.post("/inviteUsers", {
				user: invitee,
				boardUser: "{{ board.boardUser }}",
				boardID: {{ board.boardID }},
				boardName: "{{ board.boardName }}"
		}).done(function( data ) {
			document.getElementById("successInvite").style.display = "inline-block";
			document.getElementById("failInvite").style.display = "none";
		}).fail(function( data ) {
			document.getElementById("successInvite").style.display = "none";
			document.getElementById("failInvite").style.display = "inline-block";
		});
	}

	function switchVisibility(visible) {
		if (visible) {
			var resp=confirm("Upon switching to \"Public\", this board can be seen by anyone.\nAre you sure you want to switch to \"Public\"?");
		} else {
			var resp=confirm("Upon switching to \"Private\", this board will only be seen by people who received your invitation.\nAre you sure you want to switch to \"Private\"?");
		}
		if(resp==true){
			$.post("/switchVisibility", {
				visibility: visible,
				boardID: {{ board.boardID }}
			}).done(function( data ) {
				if (visible) {
					document.getElementById("btnPublic").style.display = "inline-block";
					document.getElementById("btnPrivate").style.display = "none";
				} else {
					document.getElementById("btnPublic").style.display = "none";
					document.getElementById("btnPrivate").style.display = "inline-block";
				}
			});
		}
	}
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div class="jumbotron">
			<h2 class="title" style="text-align: center">PinnerSpace</h2>
			
			<ul class="nav nav-pills pull-left clearfix">
				<li><a href="./">Home</a></li> <!--stubs-->
				<li><a href="./boards">Boards</a></li>
				<li><a href="./settings">Settings</a></li>
			</ul>
			<ul class="nav nav-pills pull-right"> <!--class="span4 offset8 signin-align"-->
				<li class="disabled"><a>Welcome back <b>{{ user.usernick }}</b>!</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	
	<!--BODY-->
	<center>
	<b>Settings Page for Board{{ board.boardID }} : {{ board.boardName }} </b>
	<button class="btn btn-success badge" id="btnPublic" name="label" onclick="switchVisibility(false)">Public</button>
	<button class="btn btn-warning badge" id="btnPrivate" name="label" onclick="switchVisibility(true)">Private</button>
	<table align="center">
	<hr>
	<div>
		<form name="input" action="./updateBoardName" method="post">
			Change board name: <input type="text" name="newboardName"  value="{{ board.boardName }}">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<input type="submit" value="Submit">
		</form>
	</div>
	<p></p><p></p>
		<button onclick="inviteBox()">Invite Users to this Board</button>
	<p></p><p></p>
	{% if board.followers|length < 1 %}
	<tr><td> There is no one following this board. </td></tr>
	{% else %}
	<tr><th colspan="3">Who's Following</th></tr>
	{% endif %}
	{% for follower in board.followers %}
	<tr>
		<td>{{ follower }}</td>
		{% if follower in board.boardEditor %}
		<td><form name="input" action="./updateBoard" method="post">
			<input type="hidden" name="userGranted" value={{ follower }}>
			<input type="hidden" name="state" value="editor">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<button class="btn btn-warning btn-xs" name="userPermission" type="submit" value="post">Post Only</button>
		</form>
		</td>
		<td><form name="input" action="./updateBoard" method="post">
			<input type="hidden" name="userGranted" value={{ follower }}>
			<input type="hidden" name="state" value="editor">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<button class="btn btn-danger btn-xs" name="userPermission" type="submit" value="view">View Only</button>
		</form>
		</td>
		{% elif follower in board.boardPoster %}
		<td><form name="input" action="./updateBoard" method="post">
			<input type="hidden" name="userGranted" value={{ follower }}>
			<input type="hidden" name="state" value="poster">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<button class="btn btn-success btn-xs" name="userPermission" type="submit" value="edit">Enable All Edits</button>
		</form>
		</td>
		<td><form name="input" action="./updateBoard" method="post">
			<input type="hidden" name="userGranted" value={{ follower }}>
			<input type="hidden" name="state" value="poster">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<button class="btn btn-danger btn-xs" name="userPermission" type="submit" value="view">View Only</button>
		</form>
		</td>
		{% else %}
		<td><form name="input" action="./updateBoard" method="post">
			<input type="hidden" name="userGranted" value={{ follower }}>
			<input type="hidden" name="state" value="viewer">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<button class="btn btn-success btn-xs" name="userPermission" type="submit" value="edit">Enable All Edits</button>
		</form>
		</td>
		<td><form name="input" action="./updateBoard" method="post">
			<input type="hidden" name="userGranted" value={{ follower }}>
			<input type="hidden" name="state" value="viewer">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<button class="btn btn-warning btn-xs" name="userPermission" type="submit" value="post">Post Only</button>
		</form>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>

	<div id="inviteUsersBox">
		<div>
			<p class="close">x</p>
			<p></p><p></p>
			<h2>Invite Users</h2>
			<p><p>
				<input type="text" id="invitee" name="invitee" placeholder="Enter UserID/Email" value="">
				<button name="userInvited" onclick="inviteUser()">Invite</button>
			<p></p>
			<p id="successInvite">Invitation sent!</p>
			<p id="failInvite">Fail to send invitation.<br>Some where must have gone wrong!</p>
			<hr>
		</div>
	</div>
	<!--END BODY-->
</body>
</html>