<!DOCTYPE HTML>
<html>
<head>
	<title>PinnerSpace - My Boards</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	<style>
	.btntext {
		text-align: left;
	}
	.btn {
		width: 100%;
	}
	th, td {
		text-align: center;
	}
	#errorMsg {
		color: red;
	}

  	.input-group {
  		width: 450px;
  	}

	</style>
</head>
<body onload="init({{numBoards}})">
	<div id="header">
		<div class="jumbotron">
			<h2 class="title" style="text-align: center">PinnerSpace</h2>
			
			<ul class="nav nav-pills pull-left clearfix">
				<li><a href="./">Home</a></li> <!--stubs-->
				<li><a href="./boards">Boards</a></li>
				<li><a href="./settings">Settings</a></li>
			</ul>
			<ul class="nav nav-pills pull-right"> <!--class="span4 offset8 signin-align"-->
				<li class="disabled"><a>Welcome back <b>{{ user.usernick }}</b>!</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	
	<!--BODY-->
	<div align="center">
		<form name="input" action="./newBoard" method="post" class="input-group">
			<span class="input-group-addon">Board Name:</span>
			<input width="100px" type="text" class="form-control" name="boardName" id="createboard">
			<span class="input-group-btn"><input class="btn btn-default" type="submit" value="Create new board"></span>
		</form>
		<p></p>
		<form name="input" class="input-group" action="./boards" method="post">
			<span class="input-group-addon">Search User:</span>
			<input type="text" class="form-control" name="targetMail" placeholder="User ID" value="">
			<span class="input-group-btn"><button class="btn btn-default" type="submit" value="Submit">Find Boards</button></span>
		</form>
		<p><p>
		<table>
			{% if targetMail != user.email and targetMail %}
			<tr><th colspan="4">Boards of {{ targetMail }}</th><tr>
			{% elif targetMail %}
			<tr><th colspan="4">My Boards</th></tr>
			{% endif %}
			{% for board in boards %}
			<tr>
				{% if board.boardUser == user.email %}
				<form name="input" action="./deleteBoard" method="post">
					<td valign="baseline"><button class="btn btn-default glyphicon glyphicon-remove" name="boardID" type="submit" value={{ board.boardID }}></button></td>
				</form>
				<td>
				<form name="input" action="./boardSettings" method="post" width="100%">
					<button class="btn btntext btn-primary btn-sm" name="boardID" type="submit" width="100%" value={{ board.boardID }}>Board{{ board.boardID }}: {{ board.boardName }}</button>
				</form>
				</td>
				{% else %}
				<td class="btntext btn btntext btn-sm btn-primary disabled" valign="baseline">Board{{ board.boardID }}: {{ board.boardName }}</td>
				{% endif %}


				{% if board.boardID == user.defaultBoardID and board.boardUser == user.defaultBoardUser %}
				<td valign="middle">
				<button class="btn disabled badge" name="label">Default</button>
				</td>
				{% elif user.email in board.followers or board.boardUser == user.email %}
					{% if user.email != board.boardUser %}
					<td>
					<form name="input" action="./unfollowBoard" method="post">
						<input type="hidden" name="boardUser" value={{ targetMail }}>
						<button class="btn btn-danger btn-sm" name="boardID" type="submit" value={{ board.boardID }}>Unfollow</button>
					</form>
					</td>
					{% endif %}
				<td>
				<form name="input" action="./changeDefaultBoard" method="post">
					<input type="hidden" name="boardUser" value={{ targetMail }}>
					<button class="btn btn-default btn-sm" name="boardID" type="submit" value={{ board.boardID }}>Set as default</button>
				</form>
				</td>
					
				{% else %}
				<td>
				<form name="input" action="./followBoard" method="post">
					<input type="hidden" name="boardUser" value={{ targetMail }}>
					<button class="btn btn-info btn-sm" name="boardID" type="submit" value={{ board.boardID }}>Follow</button>
				</form>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		<p><p>
		{% if following %}
			{% if following.count() > 0 %}
		<tr><th colspan="4"><p></th></tr>
		<tr><th colspan="4">Currently Following</th></tr>
			{% for record in following %}
				{% for boardID in record.boardID %}
					<tr>
						<td></td>
						<td><button class="btn disabled btntext btn-primary btn-sm" name="boardID" type="submit" width="100%" value={{ boardID }}>Board{{ boardID }}: {{ record.boardName[loop.index0] }}</button></td>
						<td>
							{% if user.defaultBoardID == boardID and user.defaultBoardUser == record.owner %}
							<button class="btn disabled badge" name="label">Default</button>
							{% else %}
							<form name="input" action="./changeDefaultBoard" method="post">
							<input type="hidden" name="boardUser" value={{ record.owner }}>
							<input type="hidden" name="callback" value={{ user.email }}>
							<button class="btn btn-default btn-sm" name="boardID" type="submit" value={{ boardID }}>Set as default</button>
							</form>
							<td><form name="input" action="./unfollowBoard" method="post">
							<input type="hidden" name="boardUser" value={{ record.owner }}>
							<input type="hidden" name="callback" value={{ user.email }}>
							<button class="btn btn-danger btn-sm" name="boardID" type="submit" value={{ boardID }}>Unfollow</button>
							</form></td>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endif %}
		{% endif %}
		<tr><th colspan="4"><p></th></tr>
		<tr><th colspan="4">My Invitations</th></tr>
		{% if user.invitation == 0 %}
		<tr><td colspan="4">There are no invitations</td></tr>
		{% else %}
			{% for record in invited %}
				{% for boardUser in record.boardUser %}
					<tr><td></td>
					<td><button class="btn disabled btntext btn-primary btn-sm" name="boardID" type="submit" width="100%">From {{ boardUser }}<br>- {{ record.boardName[loop.index0] }}</button></td>
					<input type="hidden" id="inviterBoardID" name="boardID" value={{ record.boardID[loop.index0] }}>
					<input type="hidden" id="inviterUser" name="boardUser" value="{{ boardUser }}">
					<td><button class="btn btn-success btn-sm" onclick="acceptInvitation()">Follow<br>&nbsp</button></td>
					<td><button class="btn btn-danger btn-sm" onclick="rejectInvitation()">Reject<br>&nbsp</button></td>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endif %}
		</table>	
		<p>
		<p id="errorMsg"><em>{{ error }}</em></p>
		<p>
		<p>
	</div>
	<!--END BODY-->
	<script src="../scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		function init(numboards){
			if(numboards == 0){
				var input = document.getElementById("createboard");
				alert("To start using PinnerSpace, you'll need a board.\nType a Board Name below, and hit 'Create a board'!\nWhen you're done, click 'Home' on the left to view your new board.");
				input.focus();
			}
		}

		function acceptInvitation() {
			//AJAX AcceptInvitation on done, redirect to followboard.
			var inviter = $('#inviterUser').val();
			var inviterBoardID = $('#inviterBoardID').val();
			$.post("/processInvitation", {
				boardUser: inviter,
				boardID: inviterBoardID
			}).done(function( data ) {
				$.post("/followBoard", {
					boardUser: inviter,
					boardID: inviterBoardID
				}).done(function(data) {
					location.reload();
				});
			});
		}

		function rejectInvitation() {
			//AJAX rejectInvitation on done, redirect to board.
			var inviter = $('#inviterUser').val();
			var inviterBoardID = $('#inviterBoardID').val();
			$.post("/processInvitation", {
				boardUser: inviter,
				boardID: inviterBoardID
			}).done(function(data) {
				location.reload();
			});
		}

	</script>
</body>
</html>