<!DOCTYPE HTML>
<html>
<head>
	<title>PinnerSpace - My Boards</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	<script src="../scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../scripts/shapes.js" type="text/javascript"></script>
	<!--Google Login Script-->
	<script type="text/javascript">
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/client:plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	</script>
	<!--End of Google Login Script-->
</head>
<body>
	<div id="header">
		<div class="jumbotron">
			<h2 class="title" style="text-align: center">PinnerSpace</h2>
			
			<ul class="nav nav-pills pull-left clearfix">
				<li><a href="./">Home</a></li> <!--stubs-->
				<li><a href="./boards">Boards</a></li>
				<li><a href="./settings">Settings</a></li>
			</ul>
			<ul class="nav nav-pills pull-right"> <!--class="span4 offset8 signin-align"-->
				<li class="disabled"><a>Welcome back <b>{{ user.usernick }}</b>!</a></li>
				<li><a href="{{ logout }}">Logout</a></li>
			</ul>
		</div>
	</div>
	
	<!--BODY-->
	<div align="center">
		<form name="input" action="./newBoard" method="post">
			Board Name: <input type="text" name="boardName">
			<input type="submit" value="Create new board">
		</form>
		<p>
		<p>
		<form name="input" action="./boards" method="post">
			Find board for: <input type="text" name="targetMail"  value="">
			<input type="submit" value="Submit">
		</form>
		<p><p>
		<table>
			{% if targetMail != user.email and targetMail %}
			<tr>Boards of {{ targetMail }}<tr>
			{% else %}
			<tr>My Boards</tr>
			{% endif %}
			{% for board in boards %}
			<tr>
				{% if board.boardUser == user.email %}
				<form class="form-inline navbar-form" name="input" action="./deleteBoard" method="post">
					<td valign="baseline"><button class="btn btn-default btn-xs glyphicon glyphicon-remove" name="boardID" type="submit" value={{ board.boardID }}></button></td>
				</form>
				{% endif %}
				<td valign="baseline">Board{{ board.boardID }}: {{ board.boardName }}</td>
				{% if board.boardID == user.defaultBoardID and board.boardUser == user.defaultBoardUser %}
				<td valign="baseline">
				<button class="btn disabled btn-primary btn-xs" name="label">Default</button>
				</td>
				{% elif user.email in board.followers or board.boardUser == user.email %}
				<td>
				<form name="input" action="./changeDefaultBoard" method="post">
					<input type="hidden" name="boardUser" value={{ targetMail }}>
					<button class="btn btn-default btn-xs" name="boardID" type="submit" value={{ board.boardID }}>Set as default</button>
				</form>
				</td>
					{% if user.email != board.boardUser %}
					<td>
					<form name="input" action="./unfollowBoard" method="post">
						<input type="hidden" name="boardUser" value={{ targetMail }}>
						<button class="btn btn-danger btn-xs" name="boardID" type="submit" value={{ board.boardID }}>Unfollow</button>
					</form>
					</td>
					{% endif %}
				{% else %}
				<td>
				<form name="input" action="./followBoard" method="post">
					<input type="hidden" name="boardUser" value={{ targetMail }}>
					<button class="btn btn-info btn-xs" name="boardID" type="submit" value={{ board.boardID }}>Follow</button>
				</form>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		<p><p>
		<b>{{ error }}</b>
		<p><p>
	</div>
	<!--END BODY-->
</body>
</html>