<!DOCTYPE HTML>
<html>
<head>
	<title>PinnerSpace - Board Settings</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	<style>
	.jumbotron {
		background-image: url("../images/space1.jpg");
	}
	#pinnerspace {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 3em;
		color:white;
	}
	#wb {
		color:white;
	}
	#wb-logout, #nav-menu {
		background-color: rgba(0,0,0,0.2);
	}
	th {
		text-align: center;
	}
	#inviteUsersBox {
    	display:none;
    	width:400px;
    	border:8px solid #666;
    	/* for modern browsers use semi-transparent color on the border. nice! */
    	border:8px solid rgba(82, 82, 82, 0.698);
    	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
    	-moz-border-radius:5px;
   		-webkit-border-radius:5px;
   		position: fixed
	}

  	#inviteUsersBox div {
    	border:1px solid #3B5998;
    	background-color:#ffffff;
  	}

  	#btnPrivate, #btnPublic, #successInvite, #failInvite {
  		display: none;
  		outline-color: transparent;
  	}
  	#successInvite {
  		color:green;
  	}
  	#failInvite {
  		color:red;
  	}

  	.dropdown-menu>li {
  		text-align: center;
  	}

  	.dropdown-btn {
    	background:none;
     	border:none;
     	outline-color: transparent;
     	width: 158px;
     	height: 28px;
  	}

  	.input-group {
  		width: 400px;
  	}

  	.invitation {
  		width: 300px;
  	}

  	.dropdown-menu>li>a {
  		padding: 0px 0px;
  	}

	</style>
</head>
<body onload="init()">
	<div id="header">
		<div class="jumbotron">
			<h2 id="pinnerspace" class="title" style="text-align: center">PinnerSpace</h2>
			
			<ul id="nav-menu" class="nav nav-pills pull-left clearfix">
				<li><a href="./"><b>Home</b></a></li>
				<li><a href="./boards"><b>Boards</b></a></li>
				<li><a href="./settings"><b>Settings</b></a></li>
			</ul>
			<ul id="wb-logout" class="nav nav-pills pull-right">
				<li class="disabled"><a id="wb">Welcome back <b>{{ user.usernick }}</b>!</a></li>
				<li><a href="/logout"><b>Logout</b></a></li>
			</ul>
		</div>
	</div>
	
	<!--BODY-->
	<center>
	<b>Settings Page for Board{{ board.boardID }} : {{ board.boardName }} </b>
	<button class="btn btn-success badge" id="btnPublic" name="label" onclick="switchVisibility(false)">Public</button>
	<button class="btn btn-warning badge" id="btnPrivate" name="label" onclick="switchVisibility(true)">Private</button>
	<table align="center">
	<hr>
	<div class="input-group">
		<span class="input-group-addon">Board Name:</span>
		<form name="input" action="./updateBoardName" method="post">
			<input type="text" class="form-control" name="newboardName" placeholder="Enter board name" value="{{ board.boardName }}">
			<input type="hidden" name="boardID" value={{ board.boardID }}>
			<span class="input-group-btn"><input class="btn btn-default" type="submit" value="Update"></span>
		</form>
	</div>
	<p></p><p></p>
		<button class="btn btn-default" onclick="inviteBox()">Invite Users to this Board</button>
	<p></p><p></p>
	{% if board.followers|length < 1 %}
	<tr><td> There is no one following this board. </td></tr>
	{% else %}
	<tr><th colspan="3">Who's Following</th></tr>
	{% endif %}
	{% for follower in board.followers %}
	<tr>
		<td><button class="disabled btn btn-info">{{ follower }}</button> -&nbsp</td>
		<td>
			<div class="btn-group">
				<button class="disabled btn btn-primary">
				{% if follower in board.boardEditor %}
				Full Edit Rights
				{% elif follower in board.boardPoster %}
				Post Only
				{% else %}
				View Only
				{% endif %}
				</button>
				<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					{% if follower in board.boardEditor %}
					<li><a><form name="input" action="./updateBoard" method="post">
						<input type="hidden" name="userGranted" value={{ follower }}>
						<input type="hidden" name="state" value="editor">
						<input type="hidden" name="boardID" value={{ board.boardID }}>
						<button class="dropdown-btn" name="userPermission" type="submit" value="post">Post Only</button>
					</form></a></li>
					<li><a><form name="input" action="./updateBoard" method="post">
						<input type="hidden" name="userGranted" value={{ follower }}>
						<input type="hidden" name="state" value="editor">
						<input type="hidden" name="boardID" value={{ board.boardID }}>
						<button class="dropdown-btn" name="userPermission" type="submit" value="view">View Only</button>
					</form></a></li>
					{% elif follower in board.boardPoster %}
					<li><a><form name="input" action="./updateBoard" method="post">
						<input type="hidden" name="userGranted" value={{ follower }}>
						<input type="hidden" name="state" value="poster">
						<input type="hidden" name="boardID" value={{ board.boardID }}>
						<button class="dropdown-btn" name="userPermission" type="submit" value="edit">Enable All Edits</button>
					</form></a></li>
					<li><a><form name="input" action="./updateBoard" method="post">
						<input type="hidden" name="userGranted" value={{ follower }}>
						<input type="hidden" name="state" value="poster">
						<input type="hidden" name="boardID" value={{ board.boardID }}>
						<button class="dropdown-btn" name="userPermission" type="submit" value="view">View Only</button>
					</form></a></li>
					{% else %}
					<li><a><form name="input" action="./updateBoard" method="post">
						<input type="hidden" name="userGranted" value={{ follower }}>
						<input type="hidden" name="state" value="viewer">
						<input type="hidden" name="boardID" value={{ board.boardID }}>
						<button class="dropdown-btn" name="userPermission" type="submit" value="edit">Enable All Edits</button>
					</form></a></li>
					<li><a><form name="input" action="./updateBoard" method="post">
						<input type="hidden" name="userGranted" value={{ follower }}>
						<input type="hidden" name="state" value="viewer">
						<input type="hidden" name="boardID" value={{ board.boardID }}>
						<button class="dropdown-btn" name="userPermission" type="submit" value="post">Post Only</button>
					</form></a></li>
					{% endif %}
				</ul>
			</div>
		</td>
	</tr>
	{% endfor %}
	</table>

	<div id="inviteUsersBox">
		<div>
			<p class="close">x</p>
			<p></p><p></p>
			<h2>Invite Users</h2>
			<p><p>
				<p class="input-group invitation">
					<input type="text" class="form-control" id="invitee" name="invitee" placeholder="Enter UserID/Email" value="">
					<span class="input-group-btn"><button class="btn btn-default" name="userInvited" onclick="inviteUser()">Invite</button></span>
				</p>
			<p></p>
			<p id="successInvite">Invitation sent!</p>
			<p id="failInvite">Fail to send invitation.<br>Some where must have gone wrong!</p>
			<hr>
		</div>
	</div>
	<!--END BODY-->
	<script src="../scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../scripts/jquery.tools.min.js" type="text/javascript"></script>
	<script src="../scripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
	<script type="text/javascript">

	function init() {
		$("#inviteUsersBox").overlay({
			mask: {
				color: '#fff',
				loadSpeed: 200,
				opacity: 0.5
			},
			closeOnClick: false,
		});
		if ("{{ board.isPublic }}" == "True") {
			document.getElementById("btnPublic").style.display = "inline-block";
			document.getElementById("btnPrivate").style.display = "none";
		} else {
			document.getElementById("btnPublic").style.display = "none";
			document.getElementById("btnPrivate").style.display = "inline-block";
		}
	}

	function inviteBox(e) {
		$("#inviteUsersBox").overlay().load();
	}

	function inviteUser() {
		document.getElementById("successInvite").style.display = "none";
		document.getElementById("failInvite").style.display = "none";
		var invitee = $('#invitee').val();
		if (invitee == "{{ board.boardUser }}") {
			//Cannot invite yourself.
			$("#failInvite").effect("fade", "", 500, "");
			return;
		}
		var followers = "{{ board.followers }}";
		if (followers.indexOf(invitee) > -1) {
			$("#failInvite").effect("fade", "", 500, "");
			return;
		}
		$.post("/inviteUsers", {
			user: invitee,
			boardUser: "{{ board.boardUser }}",
			boardID: {{ board.boardID }},
			boardName: "{{ board.boardName }}"
		}).done(function( data ) {
			$("#successInvite").effect("fade", "", 500, "");
			document.getElementById("failInvite").style.display = "none";
		}).fail(function( data ) {
			$("#failInvite").effect("fade", "", 500, "");
			document.getElementById("successInvite").style.display = "none";
		});
	}

	function switchVisibility(visible) {
		if (visible) {
			var resp=confirm("Upon switching to \"Public\", this board can be seen by anyone.\nAre you sure you want to switch to \"Public\"?");
		} else {
			var resp=confirm("Upon switching to \"Private\", this board will only be seen by people who received your invitation.\nAre you sure you want to switch to \"Private\"?");
		}
		if(resp==true){
			$.post("/switchVisibility", {
				visibility: visible,
				boardID: {{ board.boardID }}
			}).done(function( data ) {
				if (visible) {
					document.getElementById("btnPublic").style.display = "inline-block";
					document.getElementById("btnPrivate").style.display = "none";
				} else {
					document.getElementById("btnPublic").style.display = "none";
					document.getElementById("btnPrivate").style.display = "inline-block";
				}
			});
		}
	}
	</script>
</body>
</html>