<!DOCTYPE HTML>
<html>
<head>
	<title>PinnerSpace Home</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	<script src="../scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../scripts/fabric.js" type="text/javascript"></script>
	<script src="../scripts/jscolor/jscolor.js" type="text/javascript"></script>
	<!--Google Login Script-->
	<script type="text/javascript">
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/client:plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	</script>
	<!--End of Google Login Script-->
	<!--Canvas Script--> <!--Maybe should move to another file? When it's more or less done?-->
	<script type = "text/javascript">
	var canvas;
	var bgcolor = '#FFFFFF';
	var blkcolor = '#000000';
	function loadCanvas(board){
		canvas = new fabric.Canvas('canvas');
		canvas.loadFromJSON(board);
    	canvas.on('object:modified', checkOOB);
	}
	function saveCanvas(){
		$.post("/saveBoard", { 
			boardUser: "{{ currBoard.boardUser }}",
			boardID: {{ currBoard.boardID }},
			data: JSON.stringify(canvas)
		});
		alert("Successfully saved!");
	}
	//INCOMPLETE
	function revert(board){
		var resp=confirm("You sure? All your unsaved work will be lost...<STILL EMPTY>");
		if (resp==true){
  			// Need to reload with curr JSON data not the one just passed through
  		}

	}
	function clearCanvas(){
		var resp=confirm("You sure? This will clear everything!");
		if (resp==true){
  			canvas.clear();
  		}
	}
	function addBlock(){
		var center = canvas.getCenter();
		var rect = new fabric.Rect({
			left: center.left,
			top: center.top,
			width: 30,
			height: 30,
			minScaleLimit: 1,
			borderColor: 'rgba(67,46,79,0.75)',
			cornerColor: 'rgba(58,174,175,0.85)',
			cornerSize: 9,
			transparentCorners: false,
			fill: blkcolor,
		})
		canvas.add(rect);
	}
	function delBlock(){
		var curr = canvas.getActiveObject();
		canvas.remove(curr);
	}
	function setBG(){
		canvas.setBackgroundColor(bgcolor, canvas.renderAll.bind(canvas));
	}
	// Code to set limit to boundaries //
	function checkOOB(e){
		var curr = e.target;
		if(!curr) return;
		var updateCoords = false,
			coords = curr.getBoundingRect(),
			maxWidth = canvas.getWidth(),
			maxHeight = canvas.getHeight(),
			currAngle = curr.angle%360;

		// If larger than canvas [incomplete]
		if(coords.width>maxWidth){
			if(currAngle<=90 || (currAngle>=180 && currAngle<=270)){
				curr.set({scaleX:((maxWidth-Math.sin((currAngle%90)*Math.PI/180)*curr.height*curr.scaleY)/Math.cos((currAngle%90)*Math.PI/180))/curr.width});
			}else if(currAngle>90 && currAngle<180){

			}
			curr.setCoords();
			coords = curr.getBoundingRect();
		}
		// Exceed Right
		if((coords.width+coords.left)>maxWidth){
			updateCoords = true;
			if(currAngle>0 && currAngle<90){
				curr.set({left: maxWidth-Math.ceil(Math.cos(currAngle*Math.PI/180)*curr.width*curr.scaleX)});
			}else if(currAngle>=90 && currAngle<=180){
				curr.set({left: maxWidth});
			}else if(currAngle>180 && currAngle<270){
				curr.set({left: maxWidth-Math.ceil(Math.cos((270-currAngle)*Math.PI/180)*curr.height*curr.scaleY)});
			}else{
				curr.set({left: maxWidth-coords.width});
			}
		}
		// Exceed Bottom
		if((coords.height+coords.top)>maxHeight){
			updateCoords = true;
			if(currAngle>=0 && currAngle<=90){
				curr.set({top: maxHeight-coords.height});
			}else if(currAngle>90 && currAngle<180){
				curr.set({top: maxHeight-Math.ceil(Math.cos((currAngle-90)*Math.PI/180)*curr.width*curr.scaleX)});
			}else if(currAngle>=180 && currAngle<=270){
				curr.set({top: maxHeight});
			}else{
				curr.set({top: maxHeight-Math.ceil(Math.cos((360-currAngle)*Math.PI/180))*curr.height*curr.scaleY});
			}
		}
		// Exceed Left
		if(coords.left<0){
			updateCoords = true;
			if(currAngle>0 && currAngle<90){
				curr.set({left: Math.ceil(Math.cos((90-currAngle)*Math.PI/180)*curr.height*curr.scaleY)});
			}else if(currAngle>=90 && currAngle<=180){
				curr.set({left: coords.width});
			}else if(currAngle>180 && currAngle<270){
				curr.set({left: Math.ceil(Math.cos((currAngle-180)*Math.PI/180)*curr.width*curr.scaleX)});
			}else{
				curr.set({left: 0});
			}
		}
		// Exceed Top
		if(coords.top<0){
			updateCoords = true;
			if(currAngle>=0 && currAngle<90){
				curr.set({top: 0});
			}else if(currAngle>=90 && currAngle<180){
				curr.set({top: Math.ceil(Math.cos((180-currAngle)*Math.PI/180)*curr.height*curr.scaleY)});
			}else if(currAngle>=180 && currAngle<270){
				curr.set({top: coords.height});
			}else if(currAngle>=270){
				curr.set({top: Math.ceil(Math.cos((currAngle-270)*Math.PI/180))*curr.width*curr.scaleX});
			}
		}

		// Implement new coordinates
		if(updateCoords){
			curr.setCoords();
		}
	}
	</script>
	<!--End of Canvas Script-->
</head>
<body onload="loadCanvas({{boardData}})">
	<!--HEADER-->
	<div id="header">
		<div class="jumbotron">
			<h2 class="title" style="text-align: center">PinnerSpace</h2>
			
			<ul class="nav nav-pills pull-left clearfix">
				<li><a href="./">Home</a></li>
				<li><a href="./boards">Boards</a></li>
				<li><a href="./settings">Settings</a></li>
			</ul>
			<ul class="nav nav-pills pull-right"> <!--class="span4 offset8 signin-align"-->
				<li class="disabled"><a>Welcome back <b>{{ user_nick }}</b>!</a></li>
				<li><a href="{{ logout }}">Logout</a></li>
			</ul>
		</div>
	</div>
	
	<!--BOARD NAME/SELECTOR-->
	<div id="boardInfo" align="center">
		Board{{ currBoard.boardID }} {{ currBoard.boardUser }}
	</div>
	<center>
		<div class="btn-group">
			<button class="disabled btn btn-primary">{{ currBoard.boardName }}</button>
			{% if user.numBoards > 0 or user.following > 0 %}
			<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				{% for board in boards %}
					{% if board.boardID != currBoard.boardID or board.boardUser != currBoard.boardUser %}
					<li><a href="./board?boardID={{ board.boardID }}&boardUser={{ board.boardUser }}">{{ board.boardName }}</a></li>
					{% endif %}
				{% endfor %}
				<li class="divider"></li>
				{% for board2 in boards2 %}
					{% if board2.boardID != currBoard.boardID or board2.boardUser != currBoard.boardUser %}
					<li><a href="./board?boardID={{ board2.boardID }}&boardUser={{ board2.boardUser }}">{{ board2.boardName }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</center>

	<!--PinBoard-->
	<div id="pinboard" style="width:1000px; height:500px; margin: 0 auto; padding: 5px">
		<!--canvas id must be consistent with js script-->
		<canvas id="canvas" width="1000" height="500" style="border: 1px solid black;">
			This text is displayed if your browser does not support HTML5 Canvas.
		</canvas>
	</div>

	<!--TO BE FILLED-->
	{% if user.email in currBoard.boardEditor %}
	<!--Show set of buttons exclusive to board editors-->
	{% elif user.email in currBoard.boardPoster %}
	<!--Show set of buttons exclusive to board posters-->
	{% else %}
	<!--Show set of buttons exclusive to board viewers-->
	{% endif %}

	<!--Modifiers-->
	<div align="center" style="padding: 5px">
		<p>
		<button class="btn" value="addblock" type="submit" onclick="addBlock()" float="center">New Block</button>
		<button class="btn" value="delblock" type="submit" onclick="delBlock()" float="center">Delete Block</button>
		<button class="btn" value="clear" type="submit" onclick="clearCanvas()" float="center">Clear Board</button>
		</p>
		<p>
		<button class="btn" value="save" type="submit" onclick="saveCanvas()" float="center">Save Changes</button>
		<button class="btn" value="revert" type="submit" onclick="revert({{boardData}})" float="center">Reset Changes</button>
		</p>
		<p>
			Change background colour:
			<input class="color {pickerFaceColor:'#DBDBDB'}" onchange="bgcolor='#'+this.color.toString().toUpperCase()">
			<input type="submit" value="Apply" onclick="setBG()">
		</p>
		<p>
			Change block colour:
			<input class="color {pickerFaceColor:'#DBDBDB'}" onchange="blkcolor='#'+this.color.toString().toUpperCase()">
			<input type="submit" value="New Block" onclick="addBlock()">
			<!--CONSIDER making it an apply thing? either change default or change selected block-->
		</p>
	</div>
	<!--END BODY-->
</body>
</html>


<!--Old stuff
		var canvas = new fabric.Canvas('canvas');
		canvas.backgroundColor = 'green';
		var rect = new fabric.Rect({
			left: 100,
			top: 100,
			fill: 'black',
			width: 20,
			height: 20
		});

		// "add" rectangle onto canvas
		canvas.add(rect);

		var canvasStr = JSON.stringify(canvas);
		console.log(canvasStr);

alert('Please enter a value!');
input.focus(); // focuses on the blank to fill (didn't know that)
-->